fastapi
uvicorn
# deepface requires tf-keras or tensorflow depending on version, keep your working one.
deepface
tf-keras 
pillow
numpy
# IMPORTANT: Use headless to save space/memory
opencv-python-headless